<div class="card-footer">
    <input type="button" class="btn btn-dark" value="Подробнее" />
    <input type="button" class="btn btn-dark" value="Добавить" />
    <input type="button" class="btn btn-dark" value="Изменить" />
</div>

@code {

}
