@using blazor2.Pages.Post

<div class="card">
    <Header Заголовок="Новый заголовок"></Header>
    <div class="card-body">
        <p>Образец карточки, сформированной при помощи вложенных компонентов Blazor</p>
    </div>
    <Footer></Footer>
</div>

<div class="card">
    <Header Заголовок="Другой заголовок"></Header>
    <div class="card-body">
        <p>Образец второй карточки, сформированной при помощи вложенных компонентов Blazor</p>
    </div>
    <Footer></Footer>
</div>

@code {

}
