@page "/books"

@using blazor2.Services
@using blazor2.Pages.Книга 
@inject IBookServise service

<h2>Книги</h2>

<EditForm Model="@новая_книга" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="card bg-light shadow">
        <div class="card-body">
            <h3>Добавить книгу:</h3>
            <div class="form-group">
                <input id="name" type="text" class="form-control" placeholder="Название книги" @bind="новая_книга.name" />
            </div>
            <div class="form-group">
                <input id="author" type="text" class="form-control" placeholder="Автор книги" @bind="новая_книга.author" />
            </div>
            <input type="submit" class="btn btn-dark" value="Добавить" />
        </div>
    </div>
</EditForm>

@foreach (blazor2.Models.книга новая_книга in service.get().Reverse())
{
    <Книга Название="@новая_книга.name" Автор="@новая_книга.author"></Книга>
}

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    blazor2.Models.книга новая_книга = new Models.книга();

    private void OnValidSubmit()
    {
        service.add(новая_книга);
    }
}
