@page "/"

@inject blazor2.Services.ITakeMessageService service

<h1>Привет, мир!</h1>

Добро пожаловать в ваше новое приложение.

<SurveyPrompt Title="How is Blazor working for you?" />

<img class="card-img" src="https://naked-science.ru/wp-content/uploads/2020/02/mars.jpg" />

<h4 class="badge badge-success mt-4">@service.take()</h4>
