@page "/"

@inject blazor2.Services.ITakeMessageService service

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<h4 class="badge badge-success mt-4">@service.take()</h4>
