@page "/"
@using blazor2.Pages.Post
@inject blazor2.Services.ITakeMessageService service
@inject blazor2.Services.IBookServise СервисКниг

<h1>Привет, мир!</h1>

<p>Добро пожаловать в ваше новое приложение.</p>
<br />
<h3 class="badge badge-success mt-4">@service.take()</h3>

<Post></Post>
<div hidden>@СервисКниг.get()</div>


@code {
}