@page "/Проверка_регистрации_пользователя"
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Проверка регистрации пользователя</h1>

@*Первый вариант*@
@if (Пользователь_аутентифицирован)
{
<p class="alert alert-info">Пользователь аутентифицирован (@user_name) </p>
}
else
{
    <p class="alert alert-danger">Пользователь не аутентифицирован</p>
}

@*Второй вариант*@
<AuthorizeView>
    <Authorized>
        <p class="alert alert-info">Пользователь аутентифицирован (@context.User.Identity.Name) </p>
    </Authorized>
    <NotAuthorized>
        <p class="alert alert-danger">Пользователь не аутентифицирован</p>
    </NotAuthorized>
</AuthorizeView>


@code {
    bool Пользователь_аутентифицирован = false;
    string user_name;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;

        Пользователь_аутентифицирован = user.Identity.IsAuthenticated;
        user_name = user.Identity.Name;
    }

}
