<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Тестируем blazor</a>
    <button class="navbar-toggler border-0" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todolist">
                <span class="oi oi-list" aria-hidden="true"></span> Список ToDo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="oi oi-book" aria-hidden="true"></span> Книги
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Проверка_регистрации_пользователя">
                <span class="oi oi-people" aria-hidden="true"></span> Проверка_пользователя
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="рендеринг_html_строки">
                <span class="oi oi-people" aria-hidden="true"></span> Рендеринг_html_строки
            </NavLink>
        </li>
    </ul>
    <LoginDisplay />
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
